<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>

    <body>
        
        <h1>♡ ¡Bienvenido! ♡ </h1>

        
        <img 
            width="250"
            height="250"
            id="CatImage"
            title="Imagen de Xiaojie"
            src="{{ url_for('static', filename='images/XiaojieCat.jpg') }}">

        <div id="overlay">
            <img 
                id="imagenGrande"
                src="{{ url_for('static', filename='images/XiaojieCat.jpg') }}">
        </div>
    

        <nav>
            <a href="{{ url_for('registroMiembros') }}">¡Regístrate!</a>
            <a href="{{ url_for('listadoActividades') }}">Listado de Actividades</a>
            <a href="{{ url_for('estadisticas') }}">Estadísticas</a>
        </nav>

        <h2>Últimos miembros registrados</h2>

        {% if miembros %}
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Fecha de registro</th>
                </tr>
            </thead>

            <tbody>
                {% for miembro in miembros %}
                <tr>
                    <td>{{ miembro.nombre }}</td>
                    <td>{{ miembro.email }}</td>
                    <td>+56 9 {{ miembro.telefono }}</td>
                    <td>{{ miembro.fecha_registro }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Todavía no hay miembros registrados :( </p>
        {% endif %}

    </body>
    
</html>
